@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>peak condos</title>
    <!-- Bootstrap -->
    <link href="~/PeakCondo/css/bootstrap.css" rel="stylesheet">
    <link href="~/PeakCondo/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/PeakCondo/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/PeakCondo/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="~/PeakCondo/css/font.css" rel="stylesheet">
    <link href="~/PeakCondo/css/font-awesome.css" rel="stylesheet">
    <link href="~/PeakCondo/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/PeakCondo/css/style.css" rel="stylesheet">
    <link href="~/PeakCondo/css/media-queries.css" rel="stylesheet">

    <link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />

    <script src="~/PeakCondo/js/npm.js"></script>
    <script src="~/PeakCondo/js/jquery-1.11.1.min.js"></script>
    <script src="~/PeakCondo/js/bootstrap.js"></script>
    <script src="~/PeakCondo/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body>

    <div class="background_sect">



        <div class="container">
            <div class="back_border">
                <div class="middle_bg">
                    <div class="top_sect_bg">
                        <div class="col-md-4 col-sm-4">
                            <div class="logo_sctn">
                                <a href="#">
                                    <img src="~/PeakCondo/images/logo.png" alt="" title="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="top_right_sect">
                                <div class="top_sect"><h2>CALL: 416-844-5725</h2></div>
                                <div class="top_sect"><h2>E-MAIL: only4agents@gmail.com</h2></div>
                            </div>
                            <div class="menu_section">
                                <nav class="navbar navbar-inverse" role="navigation">
                                    <div>
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>

                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                            <ul class="nav navbar-nav">
                                                <li><a href="#" onclick="location.href='@Url.Action("index")'">Home</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("about")'">About us</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("neighbourhood")'">Neighbourhood</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("location")'">Location</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("register")'">Register Now</a></li>
                                            </ul>
                                        </div>
                                        <!-- /.navbar-collapse -->
                                    </div>
                                    <!-- /.container-fluid -->
                                </nav>


                            </div>
                        </div>

                    </div>
                    <div class="banner_sct_bg">
                        <div class="col-md-12 col-sm-12">
                            <div class="inner_banner">
                                <img src="../PeakCondo/images/banner1.jpg" data-thumb="~/PeakCondo/images/banner1.jpg" alt="" title="" />
                            </div>

                            <div class="middle_content_sct">
                                <div class="disclaimer_sect">
                                    <h2>About us</h2>
                                    <p>
                                        <img src="../PeakCondo/images/about_img.jpg" alt="" title="" />The Peak At Emerald City Condos is a new preconstruction condo development by Elad Canada located at Don Mills and Sheppard. Ideally situated within the Fairview Mall community, The Peak is just steps from everything you need for an elevated lifestyle, shops, cinemas, restaurants, and a library. Easy access to Hwy 401 & 404 and Don Mills subway station. Closes to Parkway Forest community center and North York General Hospital. Nearby parks include Parkway Forest Park, Shaughnessy Public School Park and Oriole Park. And don't forget the North York IKEA...if you're into clean Scandinavian design, you're in luck.
                                        <br /><br />The Peak is the third phase of Elad Canada's master planned community: Emerald City. This new community is said to contain more than 8,000 residential units. The PEAK tower will contain 371 residential units. Suites will range in size from 1 bedroom plus den to 2 bedroom plus den. The square footage for the units ranges between 500 square feet to 800 square feet. The tower will be 33 storeys high with a podium of 5 storeys.<br />Each unit will contain approximately 9 foot ceilings with modern finishes throughout. The kitchen will feature stainless steel appliances and your choice of solid surface countertop or quartz countertops. The bathroom will have many different modern finishes from you to choose from. Laminate flooring will also be located throughout the suites.<br />This new building will be a mixed use development. Retail space will be located at a street level within the 5 storey podium. Parking for this development will be located on a underground parking garage. Parking will be available for the residents and some spaces will be for guests and retail visitors.
                                        <br /><br />This new condominium project is located near many parks, some of them include, Forest Manor Park, Parkway Forest Park, Betty Sutherland Trail Park, Graydon Hall Park, and Heaven Brook Park. This development is also located near many schools including Lambton College, St. Timothy Catholic School, Dallington Public School, Lescon Public School, Georges Vanier Secondary School, and Woodbine Middle School.
                                        <br /><br />The Emerald City community is designed to be family friendly and to make its resident's lives easy and more convenient. The Parkway Community Centre is the centre for your entertainment and fitness goals. This Community Centre is located right by to this development in the North York region. The Community Centre contains a daycare facility, multiple gymnasiums, indoor and outdoor swimming pools, as well as playgrounds and parks. The facilities will help Emerald City to reach its goal of being a Family Friendly environment.
                                    </p>

                                </div>
                            </div>

                            <div class="futer_section">
                                <h2>Designed & Developed by: Only4Agents</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>


<script type="text/javascript">
    $('ul.nav li.dropdown').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
</script>


</html>