@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>peak condos</title>
    <!-- Bootstrap -->
    <link href="~/PeakCondo/css/bootstrap.css" rel="stylesheet">
    <link href="~/PeakCondo/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/PeakCondo/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/PeakCondo/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="~/PeakCondo/css/font.css" rel="stylesheet">
    <link href="~/PeakCondo/css/font-awesome.css" rel="stylesheet">
    <link href="~/PeakCondo/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/PeakCondo/css/style.css" rel="stylesheet">
    <link href="~/PeakCondo/css/media-queries.css" rel="stylesheet">

    <link rel="stylesheet" href="~/PeakCondo/css/nivo-slider.css" type="text/css" media="screen" />

    <script src="~/PeakCondo/js/npm.js"></script>
    <script src="~/PeakCondo/js/jquery-1.11.1.min.js"></script>
    <script src="~/PeakCondo/js/bootstrap.js"></script>
    <script src="~/PeakCondo/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/PeakCondo/js/jquery.flexisel.js"></script>

</head>
<body>

    <div class="background_sect">



        <div class="container">
            <div class="back_border">
                <div class="middle_bg">
                    <div class="top_sect_bg">
                        <div class="col-md-4 col-sm-4">
                            <div class="logo_sctn">
                                <a href="#">
                                    <img src="~/PeakCondo/images/logo.png" alt="" title="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="top_right_sect">
                                <div class="top_sect"><h2>CALL: 416-844-5725</h2></div>
                                <div class="top_sect"><h2>E-MAIL: only4agents@gmail.com</h2></div>
                            </div>
                            <div class="menu_section">
                                <nav class="navbar navbar-inverse" role="navigation">
                                    <div>
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>

                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                            <ul class="nav navbar-nav">
                                                <li><a href="#" onclick="location.href='@Url.Action("index")'">Home</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("about")'">About us</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("neighbourhood")'">Neighbourhood</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("location")'">Location</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("register")'">Register Now</a></li>
                                            </ul>
                                        </div>
                                        <!-- /.navbar-collapse -->
                                    </div>
                                    <!-- /.container-fluid -->
                                </nav>


                            </div>
                        </div>

                    </div>
                    <div class="banner_sct_bg">
                        <div class="col-md-12 col-sm-12">
                            <div class="banner_sect">
                                <div id="slider" class="nivoSlider">
                                    <img src="~/PeakCondo/images/banner1.jpg" data-thumb="~/PeakCondo/images/toystory.jpg" alt="" />
                                    <img src="~/PeakCondo/images/banner2.jpg" data-thumb="~/PeakCondo/images/up.jpg" alt="" />
                                    <img src="~/PeakCondo/images/banner3.jpg" data-thumb="~/PeakCondo/images/banner1.jpg" alt="" />
                                </div>
                                <!--<img src="images/banner1.jpg" data-thumb="images/banner1.jpg" alt="" title="" />-->
                            </div>
                            <div class="middle_sect">
                                <div class="row no_pddng">
                                    <div class="col-md-7 col-sm-7">
                                        <div class="main_content">
                                            <h2>About us</h2>
                                            <p>The Peak At Emerald City Condos is a new preconstruction condo development by Elad Canada located at Don Mills and Sheppard. Ideally situated within the Fairview Mall community, The Peak is just steps from everything you need for an elevated lifestyle, shops, cinemas, restaurants, and a library. Easy access to Hwy 401 & 404 and Don Mills subway station. Closes to Parkway Forest community center and North York General Hospital. <br /> <br />Nearby parks include Parkway Forest Park, Shaughnessy Public School Park and Oriole Park. And don't forget the North York IKEA...if you're into clean Scandinavian design, you're in luck. </p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="video_section">
                                            <iframe src="https://www.youtube.com/embed/Hsybe862Zhg" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="services_sect">
                                <h2>Images</h2>
                                <div class="services_slider">
                                    <ul id="flexiselDemo3">
                                        <li><a href="#"><img src="~/PeakCondo/images/service1.jpg" /></a></li>
                                        <li><a href="#"><img src="~/PeakCondo/images/service2.jpg" /></a></li>
                                        <li><a href="#"><img src="~/PeakCondo/images/service3.jpg" /></a></li>
                                        <li><a href="#"><img src="~/PeakCondo/images/service4.jpg" /></a></li>
                                        <li><a href="#"><img src="~/PeakCondo/images/service5.jpg" /></a></li>
                                        <li><a href="#"><img src="~/PeakCondo/images/service6.jpg" /></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="middle_sect">
                                <div class="row no_pddng">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="bottom_box">
                                            <h2>The Peak Condos</h2>
                                            <p>
                                                The Peak At Emerald City Condos is a new preconstruction condo development by Elad Canada located at Don Mills and Sheppard.
                                            </p>
                                            <span><a href="#" onclick="location.href='@Url.Action("about")'">Click here</a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="bottom_box">
                                            <h2>VIP Access</h2>
                                            <p>
                                                Get First Access To The Hottest New Development!!
                                                Priority unit allocation!! <br />
                                                Access to Best Floor Plan & Pricing!!
                                            </p>
                                            <span><a href="#" onclick="location.href='@Url.Action("register")'">Click here</a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="bottom_box">
                                            <h2>Promotions</h2>
                                            <p>
                                                <b>Register with us</b> to Receive EXTRA $2000 in
                                                benefits....
                                            </p>
                                            <span><a href="#" onclick="location.href='@Url.Action("register")'">Click here</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="futer_section">
                                <h2>Designed & Developed by: Only4Agents</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

</body>
<script type="text/javascript" src="~/PeakCondo/js/jquery.nivo.slider.js"></script>
<script type="text/javascript">

    $(window).load(function () {
        $("#flexiselDemo1").flexisel();
        $("#flexiselDemo2").flexisel({
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 3
                }
            }
        });

        $("#flexiselDemo3").flexisel({
            visibleItems: 5,
            animationSpeed: 2000,
            autoPlay: true,
            autoPlaySpeed: 5000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 3
                }
            }
        });

        $("#flexiselDemo4").flexisel({
            clone: false
        });

    });
</script>

<script type="text/javascript">
    $('ul.nav li.dropdown').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
</script>


<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider();
    });
</script>
</html>







